
.eventTicket{
  width: 100%;
  background-color: var(--color-shape); 
  display: grid;
  grid-auto-flow: column; 
  grid-template-columns: 1fr 120px;
  position: relative;
  max-height: 250px;
  min-width: 500px;
}

.eventTicket::after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  position: absolute;
  left: -5px;
  top: 0;
  border-radius: 50%;
  background-color: #121214;
  box-shadow:    
  0px 15px 0px 0px #121214,
  0px 30px 0px 0px #121214, 
  0px 45px 0px 0px #121214, 
  0px 60px 0px 0px #121214, 
  0px 75px 0px 0px #121214,  
  0px 90px 0px 0px #121214,  
  0px 105px 0px 0px #121214, 
  0px 120px 0px 0px #121214;
}

.rightSide {

  padding: 40px 0px 40px 40px;
  display: flex;

}

.eventDate{

}

.eventUser{

}

.userImg {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: var(--color-secondary);
}
.userInfos{

}

.userName{}
.githubUser{

}

.leftSide {
  background: var(--color-gradient);
}

.eventTicket::before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  position: absolute;
  right: -5px;
  bottom: 0;
  border-radius: 50%;
  background-color: #121214;
  box-shadow:    
  0px -15px 0px 0px #121214,
  0px -30px 0px 0px #121214, 
  0px -45px 0px 0px #121214, 
  0px -60px 0px 0px #121214, 
  0px -75px 0px 0px #121214,  
  0px -90px 0px 0px #121214,  
  0px -105px 0px 0px #121214, 
  0px -120px 0px 0px #121214;
}

.eventTicketDetail{

}
