@import './colors.css';

html{
  background: var(--color-background);
  color: var(--color-text);
} 
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*,button,input{
  font-family: 'Roboto', sans-serif;
}

.mainWrapper {
  width: 100%;
  max-width: 900px;
  display: flex;
  margin: 60px auto;
}

.gradient{
  color: #ff018e
}

.iconleft{
  margin-right: 16px;
}

a { text-decoration: none;}
